<ion-header-bar class="bar-stable">
    <button class="button  ion-chevron-left button-clear" ng-click="goBack()"></button>
    <h1 class="title">关于我们</h1>
</ion-header-bar>
<ion-content lazy-scroll class="aboutUsPage stable-bg">
    <div class="logo">
        <img src="img/icon.png">
        <h2>易书图书平台</h2>
        <p> V 1.0.0</p>
    </div>
    <div class="list card Info">
        <div class="item">
           <i>WEB2 - 地表最强</i>
        </div>
        <div class="item">
            <i>成员：洪涛、许彩宇、孔超</i>
        </div>
        <div class="item">
            <i>联系：15755320770</i>
        </div>
    </div>
    <div class="footer">
        <p>Copyright. © 1999-2017 . 安徽信息工程学院 </p>
    </div>

</ion-content>