
<ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab title="首页" on-select="onTabSelected(1)" icon-off="ion-ios-home-outline" icon-on="ion-ios-home">
        <ion-nav-view name="homePage"></ion-nav-view>
    </ion-tab>

    <ion-tab title="书城" on-select="onTabSelected(2)" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" badge="3" badge-style="badge-assertive">
        <ion-nav-view name="bookStore"></ion-nav-view>
    </ion-tab>

    <ion-tab title="书友圈" on-select="onTabSelected(3)" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes">
        <ion-nav-view name="friendsCircle"></ion-nav-view>
    </ion-tab>

    <ion-tab title="活动" on-select="onTabSelected(4)" icon-off="ion-ios-list-outline" icon-on="ion-ios-list">
        <ion-nav-view name="activity"></ion-nav-view>
    </ion-tab>
</ion-tabs>

